.YoupPage{
    color: #3050BF;
}

.YoupPageDiv{
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e8edff;

}

.YourPageDescription{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #e8edff;
}

.YourPageDescription > div > h2{
    text-align: center;
    font-size: 45px;
}


.YoupPageDivH1{
    font-size: 60px;
}