.oneHotelDiv{
    border-radius: 20px;
    border:2px solid #0C73FE;
    background-color: #fff;
    padding: 2rem;
    margin: 20px 0px;
    transition: 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oneHotelDiv h2{
    margin-left: 20px;
}

.titleDiv{
   display: flex;
   align-items: center;
}

.oneHotelDiv:hover{
    background-color: rgb(244, 244, 246);
    scale: 1.01;
}

.bronBtn{
   
    font-family: "Ubuntu", sans-serif;
        background-color: #df7416;
        font-size: 15px;
        padding: 10px 25px;
        border: none;
        border-radius: 10px;
        height: 50px;
        cursor: pointer;
        transition: all 0.3s;
        font-weight: bold;
        /* margin-right: 1rem; */
        margin-left: 1rem;
        transition: 1s;
        color: #fff;
        /* margin-bottom: 15px; */
        /* margin-left: 80px; */
    
    
}
.bronBtn:hover{
    background-color: #415ff7;
}
.control{
    border-radius: 10px;
    padding: 10px 40px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    margin: 20px;
    width: 20%;
    border: 2px solid #f2f2f2;
    transition: 2s;
}
.control:focus{
    text-decoration: none;
    width: 20%;
    background-color:rgb(244, 244, 246) ;
}


.findHotel{
    color: #fff;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #0C73FE;
}
.findHotel input{
    margin-top: 28px;
}


.loadingHotel{
    text-align: center;
    font-size: 40px;
}

.Content{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 25px 150px;
    margin: 0 auto;
    background-color: #0C73FE;
}